<h1 class="heading">THE VRAPA PROJECT</h1>
<p class="logo"></p>
<div class="container">
    <div class="container-item">
        <label for="formFile" class="form-label">Upload Your Source XML File:</label>
        <input type="file" name="" #fileInput>
    </div>
    <div class="container-item">
        <label style="margin-top: 16px;" for="platformSelect" class="form-label">Choose Soruce CMS: </label>
        <select class="text1 dropdown" #platformSelect>
            <option  value="wordpress">WordPress</option>
            <option  value="liferay">LifeRay CMS</option>
            <option value="aem">AEM</option>
        </select>
    </div>
    <div class="container-item ">
        <label style="margin-top: 16px;" for="platformSelect" class="form-label">Choose Target CMS: </label>
        <select class="text1 dropdown" #platformSelect2>
            <option  value="liferay">LifeRay CMS</option>
            <option value="aem">AEM</option>
        </select>
    </div>

    <button class="btn btn-primary btn-lg btn-block uploadButton vertical-center"
        (click)="uploadFile(platformSelect.value, fileInput)"><span class="buttonName">CONVERT</span></button>
        <div *ngIf="uploadMessage" class="text-red-500">{{ uploadMessage }}</div>
</div>