.container{
    background-color: lightblue;
    padding: 10px;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    height: 500px;
    width: 800px;
}

.container select,
.container input,
.container button{
    margin-right: 10px;
}

